In [96]:
import pandas as pd

In [97]:
movies = pd.read_csv(r'D:\Knowledge_Doctor\Movie_Recommendation_system\TMDB_movies.csv')

In [98]:
movies.sample(5)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
5586,38542,The Disappearance of Alice Creed,"Crime,Drama,Thriller",en,A rich man's daughter is held captive in an ab...,9.955,2009-09-12,6.5,439
2881,77495,Sleep Tight,"Thriller,Horror",es,"César, an unhappy concierge, maintains a pecul...",23.407,2011-10-14,7.1,840
3108,1643,Last Tango in Paris,"Drama,Romance",it,A recently widowed American begins an anonymou...,15.938,1972-10-14,7.0,986
2551,177677,Mission: Impossible - Rogue Nation,"Action,Adventure",en,Ethan and team take on their most impossible m...,49.447,2015-07-23,7.2,7397
2201,363579,The Age of Shadows,"Action,Drama,Thriller",ko,"Set in the late 1920s, The Age of Shadows foll...",10.039,2016-09-07,7.3,261

In [99]:
# Numerical columns statistical data
movies.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [100]:
# Categorical columns statistical Data
movies.describe(include = "object")

,title,genre,original_language,overview,release_date
count,10000,9997,10000,9987,10000
unique,9661,2123,43,9985,6113
top,Beauty and the Beast,Comedy,en,"""Loro"", in two parts, is a period movie that c...",2017-10-20
freq,4,744,7810,2,9

In [101]:
# Checking the Info of the columns
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [102]:
# Checking missing values in each column
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [103]:
# Extracting type of information in the NA rows of 'overview' to understand the importance
# Genre is mostly Comedy as we can see from the below data
# vote Average is above 4.5 in all missing cases
# Original language is "it" in most of the cases as we can see in the column
df[df['overview'].isnull()]

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
4150,38537,Nati stanchi,Comedy,it,NaN,5.671,2002-03-01,6.8,211
6973,31359,Would I Lie to You? 2,Comedy,fr,NaN,4.741,2001-02-07,6.2,325
7941,2029,Tanguy,Comedy,fr,NaN,5.449,2001-11-21,6.0,387
8518,57114,"Amore, bugie e calcetto",NaN,en,NaN,4.709,2008-04-04,5.8,200
9293,17413,Incognito,Comedy,fr,NaN,5.602,2009-04-28,5.5,213
9440,516043,Arrivano i prof,Comedy,it,NaN,6.558,2018-05-01,5.4,337
9620,154512,Lightning Strike,Comedy,it,NaN,4.070,2012-12-13,5.3,216
9792,42426,A spasso nel tempo - L'avventura continua,"Comedy,Fantasy",it,NaN,5.020,1997-12-11,5.1,209
9825,77000,Bar Sport,"Comedy,Family",it,NaN,4.123,2011-10-21,5.0,205
9889,42436,Natale in crociera,Comedy,it,NaN,5.330,2007-12-14,4.9,364
9915,57216,A Natale mi sposo,Comedy,it,NaN,4.349,2010-11-26,4.9,202
9922,408238,The New Adventures of Cinderella,Comedy,fr,NaN,7.102,2017-10-18,4.8,227
9989,244514,Colpi di fortuna,Comedy,it,NaN,5.821,2013-12-21,4.7,214

In [104]:
# Extracting type of information in the NA rows of 'Genre' to understand the importance
# Vote average is 5.8 and above
# 2 out of 3 is 'it' in original_language column
df[df['genre'].isnull()]

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
3361,50472,Anplagghed al cinema,NaN,it,"A queue at the ATM machine, a displaced family...",4.420,2006-11-26,7.0,313
7821,43211,7 Kilos in 7 Days,NaN,it,Two not very clever young doctors open a fitne...,5.885,1986-02-02,6.0,212
8518,57114,"Amore, bugie e calcetto",NaN,en,NaN,4.709,2008-04-04,5.8,200

#### Features Selection

In [106]:
# Columns in the dataset
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

 Important columns
ID,Title,Genres,'overview

In [107]:
movies_df = movies[['id', 'title','overview', 'genre']]

In [108]:
movies_df.sample(5)

,id,title,overview,genre
7027,9460,Black Mask,Tsui Chik tries to lead a quiet life as a libr...,Action
2599,1885,The Karate Kid,After some violent confrontations with his new...,"Action,Family,Drama"
1048,64,Talk to Her,Two men share an odd friendship while they car...,"Drama,Romance"
6690,50698,Grave Encounters,A crew from a paranormal reality television sh...,"Thriller,Horror"
4084,11935,Capricorn One,In order to protect the reputation of the Amer...,"Drama,Action,Thriller,Science Fiction"

#### Content Based recommendation System

In [110]:
# Concatenating overview and genre columns in one column
movies_df['tags'] = movies_df['overview'] + movies_df['genre']

C:\Users\porep\AppData\Local\Temp\ipykernel_9232\1227659949.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['tags'] = movies_df['overview'] + movies_df['genre']

In [111]:
# First 5 rows
movies_df.head()

,id,title,overview,genre,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime",In the continuing saga of the Corleone crime f...

In [112]:
# Dropping the overview and genre columns from the dataset
movies_df.drop(['overview','genre'],axis = 1,inplace = True)

C:\Users\porep\AppData\Local\Temp\ipykernel_9232\2228754286.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df.drop(['overview','genre'],axis = 1,inplace = True)

In [113]:
movies_df.head(5)

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...

In [114]:
# Dataset shape
movies_df.shape

(10000, 3)

In [115]:
# Visualising the tags column in the Dataset
movies_df['tags'][0]

'Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.Drama,Crime'

# Converting Text into vectors
1) Bag of words
2) TFIDF

In [116]:
from sklearn.feature_extraction.text import CountVectorizer
# Since there are 10000 rows in the dataset
cv =CountVectorizer(max_features = 10000,stop_words='english')

In [117]:
vector = cv.fit_transform(movies_df['tags'].values.astype('U')).toarray()

In [118]:
vector.shape # 10000 rows and 10000 columns

(10000, 10000)

# Cosine similarity
The angle between 2 similar genre movies will be less than 45 degree, 2 movies are more similar in nature
When the angle is more than 90 The movie is less similar to second one
when the angle is 180 degree the movie is opposite in nature or genre when compared to other movie
In the overview of the movies dataset,
The tags of 2 similar genre movies will be almost same.
eg Action genre movie
If a user is watching 'Avengers' movie
then the recommendation system model will recommend 'Iron Man' Movie to the user based on the choice of movie and genre
The distance of each of 2 tags has the lowest degree angle

In [119]:
from sklearn.metrics.pairwise import cosine_similarity

In [120]:
similarity = cosine_similarity(vector)

In [151]:
similarity[1:5]

array([[0.05634362, 1.        , 0.07624929, ..., 0.        , 0.03636965,
        0.        ],
       [0.12888482, 0.07624929, 1.        , ..., 0.02273314, 0.06655583,
        0.08645856],
       [0.03688556, 0.03636965, 0.03327792, ..., 0.19518001, 0.04761905,
        0.        ],
       [0.11428571, 0.11268723, 0.4897623 , ..., 0.02519763, 0.03688556,
        0.06388766]])

In [122]:
# Index number masking method other than column method
movies_df[movies_df['title'] == 'The Godfather'].index[0]

2

In [187]:
distance = sorted(list(enumerate(similarity[2])),reverse = True,key = lambda vector: vector[1])
for i in distance[1:6]:
    print(movies_df.loc[i[0]].title)

The Godfather: Part II
Blood Ties
Joker
Bomb City
Gotti

In [199]:
def recommend(movie):
    index = movies_df[movies_df['title'] == movie].index[0]
    distance = sorted(list(enumerate(similarity[index])),reverse = True,key = lambda vector: vector[1])
    for i in distance[1:6]:
        print(movies_df.loc[i[0]].title)

In [217]:
recommend("Iron Man")

Iron Man 3
Guardians of the Galaxy Vol. 2
Avengers: Age of Ultron
Star Wars: Episode III - Revenge of the Sith
G.O.R.A.

In [219]:
import pickle
pickle.dump(movies_df,open('movies_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))